/* line 17, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* COLORS */
/* line 35, ../sass/style.scss */
.ds-calendar {
  width: 1000px;
  background-color: wheat;
  overflow: hidden;
  color: white;
  /*---------------------*\
    Header of calendar (name of current month)
  \*---------------------*/
  /*---------------------*\
    Names of week
  \*---------------------*/
  /*---------------------*\
    One day element
  \*---------------------*/
}
/* line 46, ../sass/style.scss */
.ds-calendar .ds-calendar-header-border {
  background-color: white;
  margin: 5px 0;
  padding: 3px 0;
  border-bottom: 2px solid #1b4528;
  border-top: 2px solid #1b4528;
}
/* line 54, ../sass/style.scss */
.ds-calendar .ds-calendar-header {
  text-align: center;
  background-color: #286c41;
  position: relative;
  height: 20px;
}
/* line 60, ../sass/style.scss */
.ds-calendar .ds-calendar-header .arrow, .ds-calendar .ds-calendar-header .ds-prev-month, .ds-calendar .ds-calendar-header .ds-next-month {
  display: inline-block;
  position: absolute;
}
/* line 63, ../sass/style.scss */
.ds-calendar .ds-calendar-header .arrow span, .ds-calendar .ds-calendar-header .ds-prev-month span, .ds-calendar .ds-calendar-header .ds-next-month span {
  height: 0;
  width: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -5000px;
  margin-top: 3px;
  cursor: pointer;
  transition: border-color 0.5s ease;
}
/* line 75, ../sass/style.scss */
.ds-calendar .ds-calendar-header .ds-prev-month {
  left: 5px;
}
/* line 78, ../sass/style.scss */
.ds-calendar .ds-calendar-header .ds-prev-month span {
  float: left;
  border-style: solid;
  border-width: 7.5px 13.0px 7.5px 0;
  border-color: transparent #ffffff transparent transparent;
}
/* line 83, ../sass/style.scss */
.ds-calendar .ds-calendar-header .ds-prev-month span:hover {
  border-color: transparent red transparent transparent;
}
/* line 88, ../sass/style.scss */
.ds-calendar .ds-calendar-header .ds-title-month {
  display: inline-block;
  text-transform: uppercase;
  margin-top: 3px;
}
/* line 93, ../sass/style.scss */
.ds-calendar .ds-calendar-header .ds-next-month {
  right: 5px;
}
/* line 96, ../sass/style.scss */
.ds-calendar .ds-calendar-header .ds-next-month span {
  float: left;
  border-style: solid;
  border-width: 7.5px 0px 7.5px 13px;
  border-color: transparent transparent transparent #ffffff;
}
/* line 101, ../sass/style.scss */
.ds-calendar .ds-calendar-header .ds-next-month span:hover {
  border-color: transparent transparent transparent red;
}
/* line 114, ../sass/style.scss */
.ds-calendar .ds-title .ds-day {
  width: 14.28571%;
  height: 20px;
  background-color: #14331c;
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;
  height: 22px;
  line-height: 1.4;
}
/* line 129, ../sass/style.scss */
.ds-calendar .ds-day {
  width: 14.28571%;
  height: auto;
  background-color: #338046;
  border: 1px solid #52cc70;
  float: left;
  box-sizing: border-box;
  /*---------------------*\
    One event in day
  \*---------------------*/
}
/* line 135, ../sass/style.scss */
.ds-calendar .ds-day .ds-events, .ds-calendar .ds-day.before .ds-events, .ds-calendar .ds-day.current .ds-events, .ds-calendar .ds-day.after .ds-events {
  overflow: hidden;
}
/* line 138, ../sass/style.scss */
.ds-calendar .ds-day .ds-day-header, .ds-calendar .ds-day.before .ds-day-header, .ds-calendar .ds-day.current .ds-day-header, .ds-calendar .ds-day.after .ds-day-header {
  text-align: center;
  padding: 1px 0px 1px 10px;
}
/* line 143, ../sass/style.scss */
.ds-calendar .ds-day.before .ds-day-header {
  background-color: #993a26;
}
/* line 147, ../sass/style.scss */
.ds-calendar .ds-day.before .ds-events {
  background-color: #d46851;
}
/* line 153, ../sass/style.scss */
.ds-calendar .ds-day.current .ds-day-header {
  background-color: #296638;
}
/* line 157, ../sass/style.scss */
.ds-calendar .ds-day.current .ds-events {
  background-color: #46af60;
}
/* line 163, ../sass/style.scss */
.ds-calendar .ds-day.after .ds-day-header {
  background-color: #2c3066;
}
/* line 167, ../sass/style.scss */
.ds-calendar .ds-day.after .ds-events {
  background-color: #4b52ad;
}
/* line 172, ../sass/style.scss */
.ds-calendar .ds-day.ds-new-week {
  clear: left;
}
/* line 179, ../sass/style.scss */
.ds-calendar .ds-day .ds-event {
  background-color: yellowgreen;
  width: 90%;
  margin: 0 auto;
  border: 1px solid #27330d;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 1px 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin-top: 2px;
}
/* line 194, ../sass/style.scss */
.ds-calendar .ds-day .ds-event:last-child {
  margin-bottom: 2px;
}

/*---------------------*\
    Modal
\*---------------------*/
/* line 203, ../sass/style.scss */
#overlay {
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1000;
}
/* line 212, ../sass/style.scss */
#overlay div {
  width: 300px;
  margin: 100px auto;
  background-color: #fff;
  border: 1px solid #000;
  padding: 15px;
  text-align: center;
}

/* for title of events
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
*/
