/* line 5, C:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.1\stylesheets\compass\reset\_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.1\stylesheets\compass\reset\_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.1\stylesheets\compass\reset\_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.1\stylesheets\compass\reset\_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.1\stylesheets\compass\reset\_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.1\stylesheets\compass\reset\_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.1\stylesheets\compass\reset\_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.1\stylesheets\compass\reset\_utilities.scss */
a img {
  border: none;
}

/* line 116, C:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.1\stylesheets\compass\reset\_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* COLORS */
/* line 51, ../sass/style.scss */
#calendar-wrapper {
  width: 1000px;
  background-color: white;
}

/* line 56, ../sass/style.scss */
.ds-calendar {
  width: 100%;
  overflow: hidden;
  color: white;
  position: relative;
  font-size: 13px;
  /*---------------------*\
    Header of calendar (name of current month)
  \*---------------------*/
  /*---------------------*\
    Names of week
  \*---------------------*/
  /*---------------------*\
    One day element
  \*---------------------*/
}
/* line 68, ../sass/style.scss */
.ds-calendar .ds-calendar-header-border {
  background-color: white;
  margin: 5px 0;
  padding: 3px 0;
  border-bottom: 2px solid #666666;
  border-top: 2px solid #666666;
}
/* line 76, ../sass/style.scss */
.ds-calendar .ds-calendar-header {
  text-align: center;
  background-color: #dadada;
  position: relative;
  height: 20px;
}
/* line 82, ../sass/style.scss */
.ds-calendar .ds-calendar-header .arrow, .ds-calendar .ds-calendar-header .ds-prev-month, .ds-calendar .ds-calendar-header .ds-next-month {
  display: inline-block;
  position: absolute;
}
/* line 85, ../sass/style.scss */
.ds-calendar .ds-calendar-header .arrow span, .ds-calendar .ds-calendar-header .ds-prev-month span, .ds-calendar .ds-calendar-header .ds-next-month span {
  height: 0;
  width: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -5000px;
  margin-top: 3px;
  cursor: pointer;
  transition: border-color 0.5s ease;
}
/* line 97, ../sass/style.scss */
.ds-calendar .ds-calendar-header .ds-prev-month {
  left: 5px;
}
/* line 100, ../sass/style.scss */
.ds-calendar .ds-calendar-header .ds-prev-month span {
  float: left;
  border-style: solid;
  border-width: 7.5px 13.0px 7.5px 0;
  border-color: transparent white transparent transparent;
}
/* line 105, ../sass/style.scss */
.ds-calendar .ds-calendar-header .ds-prev-month span:hover {
  border-color: transparent #585858 transparent transparent;
}
/* line 110, ../sass/style.scss */
.ds-calendar .ds-calendar-header .ds-title-month {
  display: inline-block;
  text-transform: uppercase;
  margin-top: 3px;
  color: #585858;
  font-weight: bold;
}
/* line 117, ../sass/style.scss */
.ds-calendar .ds-calendar-header .ds-next-month {
  right: 5px;
}
/* line 120, ../sass/style.scss */
.ds-calendar .ds-calendar-header .ds-next-month span {
  float: left;
  border-style: solid;
  border-width: 7.5px 0px 7.5px 13px;
  border-color: transparent transparent transparent white;
}
/* line 125, ../sass/style.scss */
.ds-calendar .ds-calendar-header .ds-next-month span:hover {
  border-color: transparent transparent transparent #585858;
}
/* line 138, ../sass/style.scss */
.ds-calendar .ds-title .ds-day {
  width: 14.28571%;
  height: 20px;
  background-color: #595959;
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;
  height: 22px;
  line-height: 1.4;
}
/* line 153, ../sass/style.scss */
.ds-calendar .ds-day {
  width: 14.28571%;
  height: auto;
  background-color: #f2f2f2;
  border: 1px solid #999999;
  float: left;
  box-sizing: border-box;
  /*---------------------*\
    One event in day
  \*---------------------*/
}
/* line 159, ../sass/style.scss */
.ds-calendar .ds-day .ds-events, .ds-calendar .ds-day.before .ds-events, .ds-calendar .ds-day.current .ds-events, .ds-calendar .ds-day.after .ds-events, .ds-calendar .ds-day.extra-after .ds-events {
  overflow: hidden;
}
/* line 162, ../sass/style.scss */
.ds-calendar .ds-day .ds-day-header, .ds-calendar .ds-day.before .ds-day-header, .ds-calendar .ds-day.current .ds-day-header, .ds-calendar .ds-day.after .ds-day-header, .ds-calendar .ds-day.extra-after .ds-day-header {
  text-align: center;
  padding: 1px 0px 1px 10px;
  color: #333333;
  font-weight: bold;
}
/* line 169, ../sass/style.scss */
.ds-calendar .ds-day.before .ds-day-header {
  background-color: #bfbfbf;
}
/* line 173, ../sass/style.scss */
.ds-calendar .ds-day.before .ds-events {
  background-color: #f2f2f2;
}
/* line 179, ../sass/style.scss */
.ds-calendar .ds-day.current .ds-day-header {
  background-color: #bfbfbf;
}
/* line 183, ../sass/style.scss */
.ds-calendar .ds-day.current .ds-events {
  background-color: #f2f2f2;
}
/* line 189, ../sass/style.scss */
.ds-calendar .ds-day.after .ds-day-header {
  background-color: #bfbfbf;
}
/* line 193, ../sass/style.scss */
.ds-calendar .ds-day.after .ds-events {
  background-color: #f2f2f2;
}
/* line 199, ../sass/style.scss */
.ds-calendar .ds-day.extra-after .ds-day-header {
  background-color: #bfbfbf;
}
/* line 203, ../sass/style.scss */
.ds-calendar .ds-day.extra-after .ds-events {
  background-color: #f2f2f2;
}
/* line 208, ../sass/style.scss */
.ds-calendar .ds-day.ds-new-week {
  clear: left;
}
/* line 215, ../sass/style.scss */
.ds-calendar .ds-day .ds-event {
  background-color: yellowgreen;
  width: 90%;
  margin: 0 auto;
  border: 1px solid #27330d;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 1px 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-top: 2px;
}
/* line 230, ../sass/style.scss */
.ds-calendar .ds-day .ds-event:last-child {
  margin-bottom: 2px;
}

/*---------------------*\
    Modal
\*---------------------*/
/* line 239, ../sass/style.scss */
.ds-event-modal {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1000;
}
/* line 248, ../sass/style.scss */
.ds-event-modal .container {
  width: 500px;
  margin: 100px auto;
  background-color: #fff;
  border: 1px solid #000;
  padding: 15px;
  text-align: center;
  color: black;
  border-radius: 10px;
}
/* line 257, ../sass/style.scss */
.ds-event-modal .container .header {
  background: azure;
}
/* line 259, ../sass/style.scss */
.ds-event-modal .container .header .title {
  text-transform: uppercase;
}
/* line 262, ../sass/style.scss */
.ds-event-modal .container .header .date {
  text-transform: uppercase;
}
/* line 266, ../sass/style.scss */
.ds-event-modal .container .content {
  background: whitesmoke;
}
/* line 278, ../sass/style.scss */
.ds-event-modal .container .footer {
  background: lightblue;
}
/* line 280, ../sass/style.scss */
.ds-event-modal .container .footer .close-button {
  background: indianred;
  padding: 5px;
  cursor: pointer;
}

/* for title of events
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
*/
