@import "reset";

@mixin size($width,$height : nil) {
  @if($height == nil)
  {
    width: $width;
    height: $width;
  }
  @else
  {
    width: $width;
    height: $height;
  }
  
}

#ds-calendar {
  $maxSizeDay: floor(100%/7);
  
  width: 1000px;
  background-color: wheat;
  overflow: hidden;
  
  
  color: white;
  .ds-title {
    .ds-day {
      @include size($maxSizeDay,20px);
      background-color: #14331c;
    }
  }
  .ds-day {
    @include size($maxSizeDay,auto);
    background-color: #338046;
    border: 1px solid #52cc70;
    float: left;
    &.ds-new-week {
      clear: left;
    }
    .ds-day-header {
      background-color: #296638;
    }
    .ds-events {
//      @include size(50px,50px);
      background-color: #1f4d2a;
      overflow: hidden;
    }
    .ds-event {
      background-color: #9acd32;
      @include size(25px);
      float: left;
      border: 1px solid #27330d;
    }
  }
}