@import "reset";
@import "compass/css3/border-radius";

@mixin size($width,$height : nil) {
  @if($height == nil)
  {
    width: $width;
    height: $width;
  }
  @else
  {
    width: $width;
    height: $height;
  }
  
}

/* COLORS */
$calendarHeader: #286c41;
$borderHeaderColor: #1b4528;
$dayTitleColor: #14331c;

$dayColor: #338046;
$dayColorBorder: #52cc70;
$dayHeaderColor: #296638;
$eventsColor: #1f4d2a;
$eventColor: #9acd32;
$eventColorBorder: #27330d;
$dayBefore: #993a26;
//$dayBefore: #3d9953;
//$dayAfter: #296637;
$dayAfter: #2c3066;


.ds-calendar {
  $maxSizeDay: 100%/7;
  
  width: 1000px;
  background-color: wheat;
  overflow: hidden;
  color: white;
  
  /*---------------------*\
    Header of calendar (name of current month)
  \*---------------------*/
  .ds-calendar-header-border {
    background-color: white;
    margin: 5px 0;
    padding: 3px 0;
    border-bottom: 2px solid $borderHeaderColor;
    border-top: 2px solid $borderHeaderColor;
  }
  
  .ds-calendar-header {
    text-align: center;
    background-color: $calendarHeader;
    position: relative;
    height: 20px;
    
    .arrow {
      display: inline-block;
      position: absolute;
      span {
        height: 0;
        width: 0;
        font-size: 0;
        line-height: 0;
        text-indent: -5000px;
        margin-top: 3px;
        cursor: pointer;
        transition: border-color 0.5s ease;
      }
    }

    .ds-prev-month {
      @extend .arrow;
      left: 5px;
      span {
        float: left;
        border-style: solid;
        border-width: 7.5px 13.0px 7.5px 0;
        border-color: transparent #ffffff transparent transparent;
        &:hover {
          border-color: transparent red transparent transparent ;
        }
      }
    }
    .ds-title-month {
      display: inline-block;
      text-transform: uppercase;
      margin-top: 3px;
    }
    .ds-next-month{
      @extend .arrow;
      right: 5px;
      span {
        float: left;
        border-style: solid;
        border-width: 7.5px 0px 7.5px 13px;
        border-color: transparent transparent transparent #ffffff;
        &:hover {
          border-color: transparent transparent transparent red;
        }
      }
    }

  }


  /*---------------------*\
    Names of week
  \*---------------------*/
  .ds-title {
    .ds-day {
      @include size($maxSizeDay,20px);
      background-color: $dayTitleColor;
      box-sizing: border-box;
      text-transform: uppercase;
      text-align: center;
      height: 22px;
      line-height: 1.4;
    }
  }


  /*---------------------*\
    One day element
  \*---------------------*/
  .ds-day {
    @include size($maxSizeDay,auto);
    background-color: $dayColor;
    border: 1px solid $dayColorBorder;
    float: left;
    box-sizing: border-box;
    .ds-events {
      overflow: hidden;
    }
    .ds-day-header {
      text-align: center;
      padding: 1px 0px 1px 10px;
    }
    &.before {
      .ds-day-header {
        @extend .ds-day-header;
        background-color: $dayBefore;
      }
      .ds-events {
        @extend .ds-events;
        background-color: lighten($dayBefore,20%);
      }
    }
    &.current {
      .ds-day-header {
        @extend .ds-day-header;
        background-color: $dayHeaderColor;
      }
      .ds-events {
        @extend .ds-events;
        background-color: lighten($dayHeaderColor,20%);
      }
    }
    &.after {
      .ds-day-header {
        @extend .ds-day-header;
        background-color: $dayAfter;
      }
      .ds-events {
        @extend .ds-events;
        background-color: lighten($dayAfter,20%);
      }
    }
    &.ds-new-week {
      clear: left;
    }

    /*---------------------*\
      One event in day
    \*---------------------*/
    .ds-event {
      background-color: $eventColor;
      width: 90%;
      margin: 0 auto;
      border: 1px solid $eventColorBorder;
      cursor: pointer;
      
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      
      padding: 1px 4px;
      
      @include border-radius(4px);
      margin-top: 2px;
      &:last-child {
        margin-bottom: 2px;
      }
    }
  }
}
  /*---------------------*\
      Modal
  \*---------------------*/
  .ds-event-modal {
//    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 1000;
    .container {
      width:500px;
      margin: 20% auto;
      background-color: #fff;
      border:1px solid #000;
      padding:15px;
      text-align:center;
      color: black;
      border-radius: 10px;
      .header {
        background: azure;
      }
      .content {
        background: whitesmoke;
      }
      .footer {
        background: lightblue;
        .close-button {
          background: indianred;
          padding: 5px;
          cursor: pointer;
        }
      }
    }
  }


/* for title of events
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
*/