@import "reset";

@mixin size($width,$height : nil) {
  @if($height == nil)
  {
    width: $width;
    height: $width;
  }
  @else
  {
    width: $width;
    height: $height;
  }
  
}

/* COLORS */
$calendarHeader: #286c41;
$dayTitleColor: #14331c;

$dayColor: #338046;
$dayColorBorder: #52cc70;
$dayHeaderColor: #296638;
$eventsColor: #1f4d2a;
$eventColor: #9acd32;
$eventColorBorder: #27330d;


.ds-calendar {
  $maxSizeDay: 100%/7;
  
  width: 1000px;
  background-color: wheat;
  overflow: hidden;
  
  .ds-calendar-header {
    text-align: center;
    background-color: $calendarHeader;
    position: relative;

    .ds-prev-month {
      display: inline-block;
      position: absolute;
      left: 0;
      span {
        height: 0;
        width: 0;
        font-size: 0;
        line-height: 0;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        float: left;
        text-indent: -5000px;
        border-left-width: 0;
        border-right: 6px solid #fff;
      }
    }
    .ds-title-month {
      display: inline-block;
    }
    .ds-next-month{
      display: inline-block;
      position: absolute;
      right: 0;
      span {
        height: 0;
        width: 0;
        font-size: 0;
        line-height: 0;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 6px solid #fff;
        float: left;
        text-indent: -5000px;
      }
    }

  }
  
  
  color: white;
  .ds-title {
    .ds-day {
      @include size($maxSizeDay,20px);
      background-color: $dayTitleColor;
      box-sizing: border-box;
    }
  }
  .ds-day {
    @include size($maxSizeDay,auto);
    background-color: $dayColor;
    border: 1px solid $dayColorBorder;
    float: left;
    box-sizing: border-box;
    &.ds-new-week {
      clear: left;
    }
    .ds-day-header {
      background-color: $dayHeaderColor;
    }
    .ds-events {
//      @include size(50px,50px);
      background-color: $eventsColor;
      overflow: hidden;
    }
    .ds-event {
      background-color: $eventColor;
      @include size(25px);
      float: left;
      border: 1px solid $eventColorBorder;
    }
  }
}


/* for title of events
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
*/